.products {
    /* padding: 0 170px; */
}

.products__title,
.products__subtitle {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 40px;
    color: rgba(33, 0, 48, 0.5);
}

.products__subtitle {
    color: var(--osnovnoy);
}

.products__list {
    margin-top: 30px;
    max-width: 1560px;
    width: 100%;
    margin: 30px auto 0 auto;
    padding: 0 50px;
    position: relative;

    :global(.swiper-wrapper) {
        row-gap: 30px;
    }
}

.products__prev, .products__next {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 149px;
    background: linear-gradient(to right, var(--body-bg), var(--body-bg-transparent));
    z-index: 3;
}

.products__next {
    left: auto;
    right: 0;
    transform: rotate(180deg);
}