.popData {
  max-width: 404px;
  width: 100%;
}


.popData__group {
  font-weight: 600;
  font-size: 12px;
  color: var(--osnovnoy);
  gap: 10px;
  margin-bottom: 10px;
}

.popData__label {
  margin: 0 !important;
  gap: 13px;

  span {
    font-family: var(--font-family);
    padding: 0;
  }
}

.popData__subtitle {
  font-weight: 600;
  font-size: 16px;
  color: var(--osnovnoy);
  margin-top: 17px;
}

.popData .popData__calendar {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  color: var(--vtorichnyy-chernyy);
  width: 100%;
  border: none;

  :global(.react-datepicker__header),
  :global(.react-datepicker__navigation) {
    display: none;
  }

  :global(.react-datepicker__day),
  :global(.react-datepicker__day-name) {
    padding: 10px 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
  }

  :global(.react-datepicker__day) {
    background: var(--vtorichnyy-svetlo-seryy);
  }

  :global(.react-datepicker__day-name) {
    color: var(--osnovnoy-fioletovyy);
    font-size: 13px;
  }

  :global(.react-datepicker__day--selected) {
    background: var(--osnovnoy-fioletovyy);
  }
}

.popData__time {
  display: flex;
  justify-content: center;
  padding: 14px;
  border-radius: 5px;
  background: var(--vtorichnyy-svetlo-seryy);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  width: 100%;
  text-align: center;

  &.active {
    background: var(--osnovnoy-fioletovyy);
    color: var(--light);
  }
}