.popLayout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--light);
  color: var(--vtorichnyy-chernyy);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 10px;
  overflow: auto;
  max-height: 100dvh;  
}

.popLayout__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--vtorichnyy-chernyy);
  margin-bottom: 10px;

  button {
    border-radius: 7px;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
  }

  img {
    width: 30px;
  }
}
