.popSelect {
  max-width: 400px;
  width: 100%;
  padding: 21px;


  .popSelect__input {
    display: block;
    width: 100%;
    border-radius: 6px;
    background: var(--vtorichnyy-svetlo-seryy);
    padding: 13px;
    margin-bottom: 13px;
    font-weight: 600;

    &::placeholder {
      color: rgba(33, 0, 48, 0.5);
    }
  }

  .popSelect__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .popSelect__btn {
    border: none;
    background: transparent;
    padding: 0;
    text-transform: capitalize;
    justify-content: start;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);

    &:hover {
      background: transparent;
    }

    &:global(.Mui-selected) {
      background: transparent;
      color: var(--osnovnoy-fioletovyy);

      &:hover {
        background: transparent;
      }
    }
  }
}