.popAuth {
  max-width: 418px;
  width: 100%;

  h2 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(33, 0, 48, 0.5);
  }
}

.popAuth__title {
  font-weight: 600;
  font-size: 24px;
  color: var(--osnovnoy);
  margin-bottom: 10px;
}

.popAuth__toggle {
  background: var(--vtorichnyy-svetlo-seryy);
  border-radius: 5px;
  font-weight: 600;
  color: var(--osnovnoy-transparent);
  display: flex;
  margin-bottom: 14px;
}

.popAuth__toggleBtn {
  border-radius: 5px;
  flex-grow: 1;
  padding: 14px;

  &.active {
    background: var(--osnovnoy-fioletovyy);
    color: var(--light);
  }
}

.popAuth__desc {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 12px;
  color: #070707;
  max-width: 362px;
  margin-bottom: 14px;
}

.popAuth__input {
  border-radius: 5px;
  padding: 14px 10px;
  width: 100%;
  background: var(--vtorichnyy-svetlo-seryy);
  font-weight: 600;
  margin-bottom: 10px;

  &::placeholder {
    color: rgba(33, 0, 48, 0.5);
  }
}

.popAuth__btn {
  border-radius: 5px;
  padding: 13px;
  width: 100%;
  background: var(--osnovnoy-fioletovyy);
  font-family: var(--font-family);
  font-weight: 600;
  color: #fffafa;
}

.popAuth__agree {
  display: flex;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 10px;
  color: #7c7b7b;
  margin-top: 10px;
  gap: 8px;

  .popAuth__check {
    padding: 0;
  }
}
