.footer {
    border-radius: 100px 100px 0 0;
    background: var(--footer-bg);
    color: var(--light);
    padding-top: 50px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 100%;
    overflow-y: auto;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    gap: 100px;
}

.footer__logo {
    font-weight: 600;
    font-size: 40px;
    color: var(--light);
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

.footer__wrapper {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 30px;
}

.footer__arrow {
    background: var(--light);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;

    img {
        transform: rotate(90deg);
    }

    &.active {
        transform: rotate(180deg);
    }
}
